<div class="jumbotron">
    <div style="margin: 50px;">
        <h1>Contoso Retail Sample Web Application</h1>
        <br>
        <p style="font-size: xx-large; text-align: justify;">
            Contoso Retail Sample Web Application is a sample application created for testing, prototyping and evaluating 
            DevExtreme's data grid for high volume data retrieval.
        </p>
        <br>
        <p style="font-size: xx-large; text-align: justify;">
            See the initial prototype of the data grid view by clicking on this button.
        </p>
        <dx-button style="font-size: 20pt;" text="DevExtreme" type="default" (onClick)="onDevExtremeClick()"></dx-button>
    </div>
</div>